<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.nmcspadden.homepass</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/libexec/MACAddflip.py</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/var/log/MACAddflip_err.log</string>
	<key>StandardOutPath</key>
	<string>/var/log/MACAddflip.log</string>
	<key>StartInterval</key>
	<integer>1800</integer>
</dict>
</plist>
